.footer {
    background-color: #686de0;
    max-width: 100%;
    border-radius: 0 0 10px 10px;
    box-shadow: $boxShadow;
    h1 {
    font-family: $font-stack;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
    margin-top: 20px;
    font-size: 25px;
    letter-spacing: 2px;
  }
    h2{
    font-family: $font-stack;
    text-align: center;
    color: rgba(255, 255, 255, 0.71);
    font-size: 20px;
    line-height: 0px;
    margin-bottom: 50px;
  }
}